
*{
    margin: 0;
    padding: 0;
    top: 0%;
    bottom: 0%;
}
:root{
    --ff--:'arial', sans serif;
    --fc--: beige;


}

body{
    display :flex;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-family: var(--ff--);
    background-color: black;
    filter: drop-shadow(0px 4px 4px #00f7ff);
    color: var(--fc--);
    overflow: hidden;
}
.container{
    border:solid 5px var(--fc--) ;
    border-radius: 20px;
    position: relative;
    top:258px;
}
.container,
h1,
h2,
P,
.vies{
    padding: 10px;
    width: 100%;
}
ion-icon{
    color: rgb(247, 250, 70);
    filter: drop-shadow(0px 2px 2px #0026ff);
}
#message {
    filter: drop-shadow(0px 2px 2px #ff00dd);
}
input, button{
    width: 15%;
    
}
